.card {
  max-width: 345px;
  display: flex;
  flex-direction: column;
}

.media {
  height: 180px;
}

.main {
  height: calc(100% - 47px);
  display: flex !important;
  flex-direction: column;
}

.content {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dateRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.dateIcon {
  font-size: 14px !important;
  color: #aaaaaa !important;
}

.dateTime {
  font-size: 14px !important;
  position: relative;
  top: 1px;
}

.title {
  min-height: 56px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4 !important;
  margin-bottom: 20px !important;
  color: #363636;
  font-weight: 150 !important;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: auto;
}

.actions {
  padding: 0 16px 12px;
  margin-top: auto;
}

.readMore {
  text-transform: none !important;
  font-weight: bold !important;
  color: black !important;
}
