.card {
  max-width: 345px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.media {
  height: 180px;
}

.content {
  text-align: left;
  flex-grow: 1;
}

.dateRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.dateIcon {
  font-size: 14px !important;
  color: #aaaaaa !important;
}

.dateTime {
  font-size: 14px !important;
  position: relative;
  top: 1px;
}

.title {
  font-weight: 400;
  line-height: 1.4 !important;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: auto;
}

.actions {
  padding: 0 16px 12px;
  margin-top: auto;
}

.readMore {
  text-transform: none !important;
  font-weight: bold !important;
  color: black !important;
}
